
.header1 {
    -fx-font-size: 16px;
}

.header2 {
    -fx-font-size: 14px;
}

.tooltip {
     -fx-background-radius: 0 0 0 0;
     -fx-background-color: whitesmoke;
     -fx-border-color: darkgray;
     -fx-text-fill: black;
}

#file-icon .ikonli-font-icon {
    -fx-icon-code: "mdoal-insert_drive_file";
    -fx-icon-color: dimgray;
}

#folder-icon .ikonli-font-icon {
    -fx-icon-code: "mdoal-folder";
    -fx-icon-color: dimgray;
}

#hide-icon .ikonli-font-icon {
    -fx-icon-code: "far-eye-slash";
    -fx-icon-color: dimgray;
}

#clear-icon .ikonli-font-icon {
    -fx-icon-code: "mdoal-clear";
    -fx-icon-color: dimgray;
}

#remove-icon .ikonli-font-icon {
    -fx-icon-code: "mdmz-remove";
    -fx-icon-color: dimgray;
}

#delete-forever-icon .ikonli-font-icon {
    -fx-icon-code: "mdoal-delete_forever";
    -fx-icon-color: dimgray;
}

#play-icon .ikonli-font-icon {
    -fx-icon-code: "mdomz-play_arrow";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#arrow-forward-icon .ikonli-font-icon {
    -fx-icon-code: "mdoal-arrow_forward";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}




TextField:invalid {
    -fx-background-color: derive(red, 99%);
}

