
.header1 {
    -fx-font-size: 16px;
}

.header2 {
    -fx-font-size: 14px;
}

.tooltip {
     -fx-background-radius: 0 0 0 0;
     -fx-background-color: whitesmoke;
     -fx-border-color: darkgray;
     -fx-text-fill: black;
}

#file-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#files-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-multiple-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#folder-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2f-folder-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#hide-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2e-eye-off-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#clear-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2n-notification-clear-all";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#remove-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-remove-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}
#remove-icon:focused .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-remove-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: white;
}

#delete-forever-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2d-delete-forever-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}
#delete-forever-icon:focused .ikonli-font-icon {
    -fx-icon-code: "mdi2d-delete-forever-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: white;
}


#play-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2p-play";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#arrow-up-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2a-arrow-up";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}

#bold-arrow-left-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2a-arrow-left-bold-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}
#bold-arrow-left-icon:focused .ikonli-font-icon {
    -fx-icon-code: "mdi2a-arrow-left-bold-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: white;
}

#bold-arrow-right-icon .ikonli-font-icon {
    -fx-icon-code: "mdi2a-arrow-right-bold-outline";
    -fx-icon-size: 16px;
    -fx-icon-color: dimgray;
}




TextField:invalid {
    -fx-background-color: derive(red, 99%);
}

